*{
    margin: 3%;
    padding: auto;
    font-family: tahoma;
    font-size: medium;
}

body{
    text-align: center;
    background-color: aquamarine;
}
h1{
    background-color: red;
    text-decoration: underline;
    color: aqua;
    text-transform: uppercase;
    border: 15px;
    border-style: solid;
    border-color: yellow;
    border-radius: 15px;
}
img{
    width: 25%;

}
p{
    text-transform: capitalize;
    background-color: greenyellow;
    border-style: dotted;
    border-color: darkblue;
    padding-top: 10px;
    padding-left: 0;
    text-align: start;
}
a{
    font-style: italic;
}